@font-face {
    font-family: 'FuenteLol'; /* Define una fuente personalizada para la aplicación */
    src: url('../assets/BeaufortforLOL-Medium.ttf') format('truetype'); /* Especifica la ubicación de la fuente */
}

.champion-abilities {
    width: 1920px; /* Establece el ancho del contenedor de habilidades */
    align-items: center; /* Alinea los elementos en el centro */
    color: white; /* Establece el color del texto en blanco */
}

.abilities-icons {
    display: flex; /* Utiliza Flexbox para organizar los iconos de habilidades */
    gap: 15px; /* Espacio entre los iconos */
    justify-content: center; /* Centra los iconos horizontalmente */
    width: 100vw; /* Usa todo el ancho disponible */
}

.ability-icon img {
    width: 64px; /* Establece el tamaño de los iconos */
    height: 64px; /* Establece la altura de los iconos */
    cursor: pointer; /* Cambia el cursor a puntero al pasar sobre el icono */
    border: 2px solid white; /* Añade un borde blanco alrededor del icono */
    border-radius: 8px; /* Redondea los bordes del icono */
}

.ability-icon:hover img {
    transform: scale(1.1); /* Efecto de zoom al pasar el mouse sobre el icono */
    transition: transform 0.3s; /* Suaviza la transición del efecto de zoom */
}


/*Arreglar con fede o marcos el problema del texto que sobresale*/
.ability-description {
    font-family: "FuenteLol", sans-serif; /* Utiliza la fuente personalizada para la descripción */
    margin-top: 20px; /* Espacio arriba de la descripción */
    background-color: rgba(0, 0, 0, 0.6); /* Establece un fondo semitransparente para la descripción */
    color: white; /* Establece el color del texto en blanco */
    text-align: center; /* Centra el texto dentro de la descripción */
    font-size: 2rem; /* Tamaño adaptable */
    padding: 2vh 2vw;
    width: 100vw; /* Usa todo el ancho disponible */
}

.ability-description h4 {
    margin-bottom: 10px; /* Espacio debajo del título de la descripción */
}

.ability-description p {
    font-size: 25px; /* Tamaño de fuente para el párrafo de la descripción */
    
}

.champion-abilities h3 {
    text-align: center; /* Centra el título de habilidades */
    font-family: "FuenteLol", sans-serif; /* Utiliza la fuente personalizada */
    font-size: 50px; /* Tamaño de fuente grande para el título */
    width: 100vw; /* Usa todo el ancho disponible */
    padding: 5vh 2vw; /* Espaciado adaptable */
}
