@font-face {
  font-family: 'FuenteLol';
  src: url('../assets/BeaufortforLOL-Medium.ttf') format('truetype');
}



.champion-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  background-image: url('../Public/splash/${champion}_0.png');
  background-size: cover;
  background-position: center;
  color: white;
  position: relative;
  width: 100vw; 
  height: 100vh; 
  }



.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Para oscurecer la imagen de fondo */
  z-index: 1;
}

.champion-content {
  position: relative;
  z-index: 2;
  max-width: 800px;
}

.champion-title {
  
  font-family: "FuenteLol", sans-serif;
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #ffffff;
  text-transform: uppercase;
}

.champion-subtitle {
  color: rgb(200, 170, 110);
  text-wrap: balance;
  word-break: break-word;
  font-family: "FuenteLol", sans-serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 40px;
  font-style: italic;
  text-transform: uppercase;
}

.champion-description {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 40px;
  color: #f5f5f5; /* Blanco humo */
}

.champion-details {
  display: flex;
  gap: 40px;
}

.detail-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgb(200, 170, 110);
  padding: 15px;
  width: 150px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.detail-box h4 {
  margin: 10px 0;
  font-size: 1.2rem;
  color: #ffd700; /* Texto dorado */
}

.detail-box p {
  margin: 0;
  font-size: 1rem;
  color: #f5f5f5;
}

footer {
  margin-top: 30px;
  text-align: center;
  font-size: 0.9rem;
  color: #f5f5f5;
}
