html, body {
  overflow-y: auto; /* Asegura el desplazamiento vertical cuando sea necesario */
  background-color: #242424;
}

.champion-container{
  max-width: 1200px; /* Limita el ancho máximo para pantallas grandes */
    margin: 0 auto; /* Centra el contenedor */
}