html, body {
  overflow-y: auto;   /* Asegura el desplazamiento vertical cuando sea necesario */
}

.champion-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* Añadir scroll si es necesario */
}

.abilities-section {
  min-height: 100vh; /* Asegurarse de que las habilidades ocupen al menos una pantalla completa */
  background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro para habilidades */
  color: white;
}

.abilities-container {
  display: flex;
  justify-content: center;
  gap: 15px;
}
