@font-face {
  font-family: 'FuenteLol'; 
  src: url('../assets/BeaufortforLOL-Medium.ttf') format('truetype'); 
}

@font-face {
  font-family: 'FuenteLolEpica'; 
  src: url('../assets/BeaufortforLOL-HeavyItalic.ttf') format('truetype'); 
}

/* Sección principal de skins */
.skins-section {
  font-family: "FuenteLol", sans-serif; 
  background-color: #121212; 
  padding: 50px;
  text-align: center;
  color: white; 
}
.skins-section h3{
  font-family: "FuenteLolEpica", sans-serif; 
  font-size: 32px;
  letter-spacing: 1px;

}
/* Imagen y nombre de la skin seleccionada */
.selected-skin img {
  width: 80%; 
  border: 3px solid rgb(200, 170, 110); /* Borde dorado */
  border-radius: 10px; 
  margin-bottom: 10px;
}

.selected-skin h4 {
  font-family: "FuenteLol", sans-serif; 
  font-size: 1.5rem; 
  color: rgb(200, 170, 110); 
  margin-top: 10px;
}

/* Contenedor de miniaturas */
.skins-thumbnails {
  display: flex;
  flex-wrap: wrap; /* Permite que las miniaturas se ajusten a varias filas */
  justify-content: center;
  gap: 15px; /* Espacio entre las miniaturas */
  margin-top: 20px;
}

/* Miniaturas de las skins */
.skin-thumbnail {
  width: 100px; /* Tamaño de cada miniatura */
  height: auto;
  cursor: pointer; /* Cambia el cursor a pointer para indicar que es clicable */
  transition: transform 0.2s; /* Efecto de transición para la animación de escala */
  border: 2px solid white; /* Borde blanco por defecto */
  border-radius: 8px; /* Bordes redondeados */
}

/* Efecto hover para las miniaturas */
.skin-thumbnail:hover {
  transform: scale(1.1); /* Aumenta el tamaño ligeramente al pasar el mouse */
  border-color: rgb(200, 170, 110); /* Cambia el color del borde a dorado al hacer hover */
}